<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description">
    <meta content="Coderthemes" name="author">
    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <!-- App css -->
    <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css">
    <link href="assets/css/app.min.css" rel="stylesheet" type="text/css" id="light-style">
    <link href="assets/css/app-dark.min.css" rel="stylesheet" type="text/css" id="dark-style">
</head>
<body>
    
    <div class="container p-4 m-4">

        
    <div class="row">
        <div class="col-8">
            <div class="m-3">
            <a href="/logout" class="text-success" ><i class=" uil-corner-up-right"></i> logout</a>

            </div>
                 
               
           
           
        </div>
        </div>
        <div class="row">
        <div class="col-8">
        <div class="card">
        <div class="card-body">
        <button type="button" class="btn btn-outline-info m-3"  data-bs-toggle="modal" data-bs-target="#coderet-modal"><i class="uil-money-withdrawal"></i> Test Retrait</button>
        <button type="button" class="btn btn-outline-danger m-3" data-bs-toggle="modal" data-bs-target="#codedepo-modal"><i class="uil-receipt"></i> Test Depot</button>
        <button type="button" class="btn btn-outline-primary m-3" data-bs-toggle="modal" data-bs-target="#codetrans-modal"><i class=" uil-money-insert" ></i> Test transfert MauriPay</button>
    


<!-- code modal -->
<div id="coderet-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center mt-2 mb-4">
                    <a href="#" class="text-success">
                        <span><img src="assets/images/logo3.png" alt="" height="50"></span>
                    </a>
                </div>

                <form action="/retrait" method="POST" class="ps-3 pe-3">

                    <div class="mb-3">
                        <label for="code" class="form-label">Code confirmation</label>
                        
                        <input class="form-control" name="code" type="text" id="code" required="" placeholder="code">
                    </div>

                    <div class="mb-3 text-center">
                        <button class="btn btn-rounded btn-info" type="submit">Valider</button>
                    </div>

                </form>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<!-- code modal -->
<div id="codedepo-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center mt-2 mb-4">
                    <a href="#" class="text-success">
                        <span><img src="assets/images/logo3.png" alt="" height="50"></span>
                    </a>
                </div>

                <form action="/depot" method="POST" class="ps-3 pe-3">

                    <div class="mb-3">
                        
                        <label for="code" class="form-label">Code confimation</label>
                        <input class="form-control" name="code" type="text" id="code" required="" placeholder="code">
                    </div>

                    <div class="mb-3 text-center">
                        <button class="btn btn-rounded btn-info" type="submit">Valider</button>
                    </div>

                </form>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<!-- code modal -->
<div id="codetrans-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center mt-2 mb-4">
                    <a href="#" class="text-success">
                        <span><img src="assets/images/logo3.png" alt="" height="50"></span>
                    </a>
                </div>

                <form action="/trans" method="POST" class="ps-3 pe-3">

                    <div class="mb-3">
                        <label for="tel" class="form-label">telephone du benef</label>
                        <input class="form-control" name="tel_bf" type="text" id="tel" required="" placeholder="telephone">
                    </div>
                    <div class="mb-3">
                        <label for="m" class="form-label">Montant</label>
                        <input class="form-control" name="montant" type="text" id="m" required="" placeholder="Montant">
                    </div>

                    <div class="mb-3 text-center">
                        <button class="btn btn-rounded btn-info" type="submit">Valider</button>
                    </div>

                </form>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>

    </div>
    </div>
   <!-- Right modal -->
<!-- <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#right-modal">Rightbar Modal</button> -->
<div id="right-modal" data-depots="<%= depots %>" data-retraits="<%= retraits %>" data-transs="<%= transs %>" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-right">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <% if(transs){ %>
                        <div class="alert alert-info bg-white text-info" role="alert">
                           the <strong>Transfer by  MauriPay  </strong> Tested successfuly
                        </div>
                    <% } %>
                    <% if(depots){ %>
                        <div class="alert alert-info bg-white text-info" role="alert">
                            The <strong>Deposit by  MauriPay  </strong> Tested successfuly
                        </div>
                    <% } %>
                    <% if(retraits){ %>
                        <div class="alert alert-info bg-white text-info" role="alert">
                            The<strong>Retrait testé </strong>Avec success
                        </div>
                    <% } %>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




<!-- Success Alert Modal -->
<!-- <button type="button" data-depots="<%= depots %>" data-retraits="<%= retraits %>" data-transs="<%= transs %>" data-logins="<%= logins %>" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#success-alert-modal">Success Alert</button> -->
<div id="success-alert-modal" data-depots="<%= depots %>" data-retraits="<%= retraits %>" data-transs="<%= transs %>" data-logins="<%= logins %>" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-filled bg-success">
            <div class="modal-body p-4">
                <div class="text-center">
                    <i class="dripicons-checkmark h1"></i>
                    <h4 class="mt-2">Well Done!</h4>
                    <% if(transs){ %>
                        
                        <p>  the <strong>Transfer by  MauriPay  </strong> Tested successfuly </p>  
                        
                    <% } %>
                    <% if(depots){ %>
                        <p>The <strong>Deposit by  MauriPay  </strong> Tested successfuly</p>
                    <% } %>
                    <% if(retraits){ %>
                       <p>  The<strong>Retrait testé </strong>Avec success </p>
                    <% } %>

                    <% if(logins) {%>
                       <p> the  <strong>user</strong> login is tested successfuly </p>
                  <% } %>
                    <button type="button" class="btn btn-light my-2" data-bs-dismiss="modal">Continue</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


    </div>



        <div class="rightbar-overlay"></div>
        <!-- /End-bar -->

    
        <!-- bundle -->
        <script src="assets/js/vendor.min.js"></script>
        <script src="assets/js/app.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

  // script.js

$(document).ready(function() {
    if ($('#success-alert-modal').data('depots') || $('#success-alert-modal').data('retraits') || $('#success-alert-modal').data('transs') || $('#success-alert-modal').data('logins')) {
      $('#success-alert-modal').modal('show');
    }
  
    // Rest of your code
  });
  
</script>   



<script>

    // JavaScript code executed on the "/studentclaim" page
document.addEventListener('DOMContentLoaded', () => {
// Remove the "smodal" query parameter from the URL
const urlWithoutSmodal = window.location.origin + window.location.pathname;
window.history.replaceState(null, null, urlWithoutSmodal);
});

</script>
</body>
</html>